@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
	/*Primary*/
	--cyan: hsl(179, 62%, 43%);
	--brightYellow: hsl(71, 73%, 54%);

	/*Neutral*/
	--lightGray: hsl(204, 43%, 93%);
	--grayishBlue: hsl(218, 22%, 67%);
}

* {
	box-sizing: border-box;
}

main {
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	margin: 2em auto;
	width: 80%;
	height: 80vh;
}

#join {
	background-color: white;
	padding: 4em;
}

#join h2 {
	color: var(--cyan);
	margin-bottom: 1.5em;
	font-weight: 700;
}

#join h3 {
	color: var(--brightYellow);
	margin-bottom: 1.5em;
	font-weight: 700;
}

#join p {
	margin-bottom: 0.6em;
	color: gray;
	line-height: 1.8em;
	width: 60%;
}

#container {
	background-color: var(--cyan);
	color: white;
	display: flex;
	flex-flow: row nowrap;
}

#monthly {
	padding: 4em;
	width: 60%;
}

#monthly h2 {
	margin-bottom: 1em;
}

#capitalize {
	font-size: 40px;
}

#minicap {
	position: relative;
	top: -3.6em;
	left: 4.5em;
	opacity: 70%;
}

#priceline {
	margin-top: -2em;	
	margin-bottom: 1em;
}

button {
	width: 100%;
	background-color: var(--brightYellow);
	height: 8vh;
	color: white;
	border-radius: 7px;
	border: none;
	font-size: 20px;
	font-weight: 700;
	box-shadow: 0 5px 72px 1px rgba(50, 50, 50, 0.51);
	margin-top: 2.5em;
}

#why {
	padding: 4em;
	background-color: #4abebd;
	width: 50%;
}

#why h2 {
	margin-bottom: 1em;
}

ul {
	list-style-type: none;
	line-height: 1.7em;
}

ul a {
	color: white;
	text-decoration: none;
	opacity: 70%;
	margin-left: -2em;
}

@media (max-width: 375px) {
	main {
		width: 90%;
		margin: 1em;
		height: 20vh;
	}

	body {
		font-size: 16px;
	}

	#join {
		padding: 1em;
	}

	#join h2 {
		margin-bottom: 0.5em;
		font-size: 24px;
	}

	#join h3 {
		font-size: 18px;
	}

	#join p {
		width: 100%;
	}

	#container {
		flex-direction: column;
	}

	#monthly {
		padding: 1em;
		width: 100%;
	}

	#monthly h2 {
		font-size: 24px;
	}

	#capitalize {
		font-size: 36px;
	}

	#minicap {
		position: relative;
		top: -2.5em;
		left: 3em;
	}

	button {
		margin-top: 0;
		height: 6vh;
		font-size: 16px;
	}

	#why {
		width: 100%;
		height: 33vh;
		padding: 1em;
	}

	#why h2 {
		font-size: 24px;
	}

	ul {
		line-height: 1.3em;
	}
}
